<header>
  <h1>Desafio Component</h1>
</header>

<main>
  <button [routerLink]="['lista']">Abrir lista de números</button><button [routerLink]="['pipes']">Abrir página de testes de pipes</button>
  <router-outlet></router-outlet>
  <!-- <app-componente-filho [numeroComponent]="1"></app-componente-filho>
  <app-componente-filho [numeroComponent]="2"></app-componente-filho>
  <app-componente-filho [numeroComponent]="3"></app-componente-filho>
  <app-componente-filho [numeroComponent]="4"></app-componente-filho>
  <app-componente-filho [numeroComponent]="5"></app-componente-filho> -->

</main>
