body {
    display: grid;
    grid-template-columns: 1fr 340px;
    grid-template-rows: auto;
    grid-template-areas:

        "header header"

        "nav nav"

        "main aside"

        "footer footer";

    grid-gap: 10px;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    grid-area: header;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: #444;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 6rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.mobile-menu {
    display: none;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

main {
    grid-area: main;
    background-color: #fff;
    margin: 10px;
    width: 98%;
    height: 80%;
}

section {
    grid-area: section;
    background-color: #1197c0;
    padding: 10px;
    text-align: center;
    height: 105%;
}

article {
    grid-area: article;
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    height: 40%;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}


aside {
    grid-area: aside;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    height: 74%;
    margin: 12px 8px 0px 0px;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 730px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:

            "header"

            "nav"

            "main"

            "aside"

            "footer";
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .nav-list ul {
    display: grid;
    justify-content: center;
    list-style: none;
    }

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    aside {
        margin: 0;
    }

}


