header {
    background-color: black;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-list {
        display: none;
       
    }
    .menu-icon {
        display: block;
    }

    .nav-list.open {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
